body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
    display: flex;
}

.header {
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    gap: 15px;
    justify-content: space-around;
    padding: 5px;
}

#header-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

